// ----------------------------------------------------------------------
  // Colors
// ----------------------------------------------------------------------
$white: #ffffff;

$black-light: #333333;
$black: #000000;

$gray-lighter: #f5f5f5;
$gray-light: #e8e7e3;
$gray: #d1cfc7;
$gray-dark: #777777;

$blue-light: #58b7ff;
$blue: #20a0ff;
$blue-dark: #1d8ce0;

$green: #67c23a;
$green-light: #13ce66;

$yellow: #f7ba2a;

$red: #ff4949;
$red-light: #ffeef0;
// ----------------------------------------------------------------------
  // Fonts
// ----------------------------------------------------------------------
$font-size-largest: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 13px;
$font-size-smaller: 12px;

$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
// ----------------------------------------------------------------------
  // Z-index
// ----------------------------------------------------------------------
$z-index-higher: 1000;
$z-index-high: 100;
$z-index-medium: 10;
$z-index-low: 1;
$z-index-lower: -1;
